@tailwind base;
@tailwind components;
@tailwind utilities;

/* body */
body {
	font-family: 'Roboto', sans-serif;
	background-color: rgba(14, 13, 36, 0.9);
	color: white;
}
.btn {
	background-color: #0000ff;
}
/* slider */
.slick-dots li button {
	color: #0000ff !important;
	outline: none !important;
	background: white !important;
	border-radius: 50%;
}
.slick-dots li.slick-active button:before {
	color: #0000ff !important;
}
.slick-dots {
	bottom: -120px !important;
}

/* particles */
.container-style {
	height: 80vh;
}

#tsparticles {
	height: 70vh;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	z-index: 0;
}
/* cards */
.card{
background-color: #090817F0;
}
.card1 {
	background-color: rgba(0, 0, 255, 0.15);
}
.card2 {
	background-color: rgba(96, 8, 207, 0.2);
}

.card3 {
	background-color: rgba(3, 156, 74, 0.15);
}

.tab-header {
	list-style: none;
	
	border-radius: 36px;
	line-height: 25px;

  }

  .tab-header li {
  display: inline;
  padding: 7px 12px;
  border-radius: 36px;
  line-height: 35px;
  cursor: pointer;
  margin: 0 4px;
}

.tab-header li.active,
.tab-header li:hover {
  background: #4cb8c4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4cb8c4,
    #3cd3ad
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4cb8c4,
    #3cd3ad
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.vertical-timeline-element-icon{
	-webkit-box-shadow: 0 0 0 4px #0000FF, inset 0 2px 0 rgb(0 0 0 / 8%), 0 3px 0 4px rgb(0 0 0 / 5%)!important;
    box-shadow: 0 0 0 4px #0000FF, inset 0 2px 0 rgb(0 0 0 / 8%), 0 3px 0 4px rgb(0 0 0 / 5%)!important;
}