@tailwind base;
@tailwind components;
@tailwind utilities;

/* body */
body {
	font-family: 'Roboto', sans-serif;
	background-color: rgba(14, 13, 36, 0.9);
	color: white;
}
.btn {
	background-color: #0000ff;
}
/* slider */
.slick-dots li button {
	color: #0000ff !important;
	outline: none !important;
	background: white !important;
	border-radius: 50%;
}
.slick-dots li.slick-active button:before {
	color: #0000ff !important;
}
.slick-dots {
	bottom: -150px !important;
}

/* particles */
.container-style {
	height: 80vh;
}

#tsparticles {
	height: 70vh;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	z-index: 0;
}
/* cards */
.card1 {
	background-color: rgba(0, 0, 255, 0.15);
}
card2 {
	background-color: rgba(96, 8, 207, 0.2);
}

card3 {
	background-color: rgba(3, 156, 74, 0.15);
}
